.international-label {
  width: 90px;
  height: 19px;
  background: #128765;
  flex-shrink: 0;
}

.international-label p {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.suisse-label {
  width: 60px;
  height: 19px;
  background: #121487;
  flex-shrink: 0;
}

.suisse-label p {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.societe-label {
  width: 60px;
  height: 19px;
  background: #c9af30;
  flex-shrink: 0;
}

.societe-label p {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.promotion-label {
  width: 80px;
  height: 19px;
  background: #ffffff;
  flex-shrink: 0;
}

.promotion-label p {
  color: #000000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label {
  width: 102.581px;
  height: 18.25px;
  flex-shrink: 0;
  background: #e41e13;
}

.label p {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
