.sub {
  color: #ababab;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.comment-element {
  display: none;
}

.date {
  color: #fff;
  font-family: Open Sans;
  padding-top: 10px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #fff;
  font-family: Open Sans;
  padding-top: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.author {
  color: #6b6b6b;
  font-family: Open Sans;
  font-size: 10px;
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (min-width: 769px) {
  .author {
    color: #6b6b6b;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.news-card-featured img {
  width: auto;
  height: 450;
  aspect-ratio: 4/1;
  opacity: 1;
  object-fit: cover;
  object-position: center bottom;
}

.news-card-stretch img {
  width: auto;
  height: 450;
  aspect-ratio: 4/1;
  opacity: 1;
  object-fit: cover;
  object-position: center left;
}

@media only screen and (min-width: 769px) {
  body {
    background-color: rgb(255, 255, 255);
  }
  .news-card-stretch img {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 500px;
  }
  .news-card-featured img {
    display: flex;
    justify-content: center;
    height: 72vh;
    width: auto;
  }
}

@media only screen and (max-width: 769px) {
  .fire-new {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: rgb(249, 249, 249);
  }
  .news-card-stretch img {
    display: flex;
    justify-content: center;
    height: 260px;
    width: 900px;
  }
  .news-card-featured img {
    display: flex;
    justify-content: center;
    height: 92vh;
    width: auto;
  }
}

.news-card-stretch {
  padding-bottom: 24px;
}

.news-card-featured {
  padding-bottom: 24px;
}

.comment-element img {
  position: relative;
  width: auto;
  height: 2vh;
  padding-left: 35px;
  bottom: 10px;
  padding-top: 2px;
  flex-shrink: 0;
}

@media only screen and (min-width: 769px) {
  .comment-element img {
    position: relative;
    width: auto;
    height: 2vh;
    padding-left: 283px;
    bottom: 13px;
    padding-top: 5px;
    flex-shrink: 0;
  }
}

.card-element {
  position: absolute;
  color: #000000;
  font-family: Open Sans;
  font-style: normal;
  padding-top: 295px;
  padding-left: 15px;
}

.card-element-featured {
  position: absolute;
  color: #000000;
  font-family: Open Sans;
  font-style: normal;
  padding-top: 295px;
  padding-left: 15px;
}

@media only screen and (min-width: 769px) {
  .card-element {
    position: absolute;
    color: #000000;
    font-family: Open Sans;
    font-style: normal;
    padding-top: 47px;
    padding-left: 25px;
  }

  .card-element-featured {
    position: absolute;
    color: #000000;
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    padding-top: 430px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .card-element-featured {
    position: absolute;
    color: #000000;
    font-family: Open Sans;
    font-style: normal;
    padding-top: 600px;
    padding-left: 15px;
  }

  .card-element {
    position: absolute;
    color: #000000;
    font-family: Open Sans;
    font-style: normal;
    padding-top: 104px;
    padding-left: 15px;
  }
}
